*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-bar{
    background-color: #2E4053
    color: white;
    display: flex;
    align-items: center;
}
.logo{
    padding: 1rem;
    flex-grow: 1;
    width: 40px;
    height: 120px;
    position: relative;
   bottom: 50px;
    left: 30px;
}
.menu{
    flex-grow: 1;
}
.menu ul{
    list-style-type: none;
    display: flex;
}
.menu ul li{
flex-grow: 11;
}
.menu ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}
.banner{
    background-image: url(resimler/yuvarlak.svg);
background-color: #ECF0F1;
background-repeat: no-repeat;
background-size: 700px;
}
.banner-text{
    
    padding: 10% 0;
}
.banner-text-item{
    
    width: 70%;
    margin: auto;
}
.banner-text-item h2{
    font-size: 7rem;
    margin-bottom: 1.2rem;
    color: #3498DB;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 10px;
    left: 380px;
}
.banner-text-item p{
    font-size: 2rem;
  line-height: 1.5;
    color: #8E44AD ;
    font-family:cursive;
    position: relative;
    top: 60px;
    left: 50px;
    text-align: center;
}
.main-content{
    background-color: #ECF0F1;
    background-image:url(resimler/svg1.png);
display: flex;
flex-direction: row;
padding: 1% 50;
background-repeat:space;
}
.main-item{
    flex-grow: 1;
    padding: 5%;
    line-height: 2rem;
}
.main-item p{
  margin-top: 2rem;
  font-size: 30px;
  color: #ECF0F1;
  text-align: center;
}
.kedim{
    position: relative;
    bottom: 980px;
    left: 770px;
}
.yuvarlaklar{
    position: relative;
    bottom: 1880px;
    left: 1550px;
}
.buyuky{
    position: relative;
    bottom: 2900px;
}


